
<html>
	<head>
		<title>Movie List</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet" type="text/css">
		<link href="/stylesheet/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>