body {
	background: -moz-linear-gradient(90deg, rgba(254,6,30,1) 0%, rgba(113,6,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(113,6,0,1)), color-stop(100%, rgba(254,6,30,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(254,6,30,1) 0%, rgba(113,6,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(254,6,30,1) 0%, rgba(113,6,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(254,6,30,1) 0%, rgba(113,6,0,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(254,6,30,1) 0%, rgba(113,6,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#710600', endColorstr='#FE061E',GradientType=0 ); /* ie6-9 */
}
html, body {
	height:auto; /* fixes so that the body height is dynamic (instad of repeating) */
	min-height:100%;
}
#body {
	min-height:100vh;
}

footer {
	border:1px solid black;
	width:100%;
	position:relative;
	bottom:0;
}
#tmdb-logo {
	height:40px
}