<% include partials/header %>

<h1>Results</h1>
	<% results.forEach(function(movie){ %>
		<div class="ui main text container segment">
			<p><%= movie.title %></p>
			<p><%= movie.id %></p>
			<form action="/movies/results" method="post">
				<input type="text" name="movie[id]" value="<%= movie.id %>" readonly/>
				<input type="submit"/>
			</form>
		</div>
	<% }); %>


<% include partials/footer %>